<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Dragonspire - Catálogo</title>
    <link rel="stylesheet" href="../styles/catalogo.css">
</head>

<body>
    <header class="navbar">
        <div class="nav-center">Dragonspire</div>
        <div class="nav-right"><a href="../../index.html">Volver al Inicio</a></div>
    </header>

    <section id="catalogo">
        <div class="juego">
            <div class="juego-info">
                <h2>Final Fantasy</h2>
                <p>Una saga legendaria de rol con mundos épicos, batallas memorables y personajes inolvidables.</p>
                <p>$150.000</p>
                <div class="juego-buttons">
                    <button class="comprar">Comprar juego</button>
                    <a href="finalfantasy.html" class="detalles">Detalles</a>
                </div>
            </div>
            <div class="juego-img">
                <img src="../img/finalfantasy.png" alt="">
            </div>
        </div>

        <div class="juego">
            <div class="juego-info">
                <h2>Life is Strange</h2>
                <p>Una aventura narrativa donde tus decisiones cambian el destino de los personajes y la historia.</p>
                <p>$80.000</p>
                <div class="juego-buttons">
                    <button class="comprar">Comprar juego</button>
                    <a href="lifeisstrange.html" class="detalles">Detalles</a>
                </div>
            </div>
            <div class="juego-img">
                <img src="../img/fondolife.jpg" alt="">
            </div>
        </div>

        <div class="juego">
            <div class="juego-info">
                <h2>Undertale</h2>
                <p>Un RPG único donde puedes elegir entre luchar o ser pacífico, con personajes carismáticos y finales
                    múltiples.</p>
                <p>$40.000</p>
                <div class="juego-buttons">
                    <button class="comprar">Comprar juego</button>
                    <a href="undertale.html" class="detalles">Detalles</a>
                </div>
            </div>
            <div class="juego-img">
                <img src="../img/undertale.jpg" alt="">
            </div>
        </div>
    </section>

    <footer class="footer-catalogo">
        <p>© 2026 Dragonspire</p>
        <p>Catálogo de Juegos</p>
    </footer>
</body>

</html>