<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Dragonspire - Ubicación</title>
    <link rel="stylesheet" href="../styles/ubicacion.css">
</head>

<body>
    <header class="navbar">
        <div class="nav-center">Dragonspire</div>
        <div class="nav-right"><a href="../../index.html">Volver al Inicio</a></div>
    </header>

    <section id="ubicacion">
        <div class="ubicacion-content">
            <div class="ubicacion-text">
                <h2>Ubicación</h2>
                <p>Encuéntranos en el corazón de Barranquilla, donde la aventura de Dragonspire cobra vida.</p>
                <p>📍 Dirección: Cl. 40 #46-223, Nte. Centro Historico, Barranquilla, Atlántico</p>
                <p>🕒 Horario: Lunes a Viernes 9:00 AM - 6:00 PM</p>
            </div>
            <div class="map-container">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3228.1898712324464!2d-74.78323822597996!3d10.988534555247579!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef42d0025832995%3A0x6ee5ef55547f7da6!2sRiwi!5e1!3m2!1ses!2sco!4v1776142340762!5m2!1ses!2sco"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </div>
    </section>


    <footer class="footer-ubicacion">
        <p>© 2026 Dragonspire</p>
        <p>Ubicación | Contacto de Soporte</p>
    </footer>
</body>

</html>